body {
	margin: 0;
	background-image: url("img/bgtop.jpg");
	background-size: cover;
	background-position: center;
	padding: 0;	
}


a, a:visited {
	color: #c0c0c0;
	text-decoration: none;	
}

.body_container{
	display: flex;
	height: 100vh;
	
}

.nav_trigger{
	/* margin: 35px; */
	border: 3px solid #c0c0c0;
	width: 80px;
	height: 80px;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top : 5px;
	left: 7px;
}

.nav_trigger:hover{
	background-color: #5f5f5f;
}

#bar {
	width: 100px;
}
.navbar{
	color: antiquewhite;
	background-color: #4f4f4f;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	transition: 0.5s ease-in-out;
	position: fixed;
}

.navbar ul{
	margin-top: 150px;
	list-style-type: none;
}

.navbar li{
	margin-bottom: 50px;
}

.navbar ul li {
	height: 100px;
	background-color: #8f8f8f;
}

.navbar ul li:hover{
	background-color: #afafaf;
}

.icons {
	align-items: center;
	margin-top: 100px;
	width: 105px;
	text-align: center;
}
.icons a img{
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin-top: 50px;
	border: 1px solid transparent;
}

.icons a img:hover {
	border: 1px solid #8f8f8f;
	background-color: #8f8f8f;
}
.active {
	border: 1px solid #8f8f8f;
	background-color: #8f8f8f;
}

/* ////////////////////////////// */
.main_container{
	height: 100vh;
	width: auto;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
}

.main_container .banner{
	background-color: thistle;
	height: 500px;
	background-image: url('./img/bannerlaptop.jpg');
	background-size: cover	;
	background-position: 0px -700px;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	padding: 20px;
}

.main_container .control{
	background-color : #bfbfbf;
	height: auto;
	padding: 10px 0 10px 20px;
}

.main_container .items {
	display: flex;
	flex-wrap: wrap;
}

.items_card {
	border: 1px solid white;
	padding: 10px;
	margin: 10px;
	width: 200px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
	background-color: wheat;
}

.items_card .items_img{
	height: 150px;
	border: 1px solid white;
	margin-bottom: 10px;
	overflow: hidden;
}

.items_card .items_img img{
	width: 100%;
}

.items_card .items_name{
	height: auto;
	overflow: hidden;
	font-size: larger;
}
.items_card .items_harga{
	height: auto;
	overflow: hidden;
	font-size: smaller;
}
.items_card .description{
	height: 60px;
	padding: 5px;
	text-align: justify;
	overflow: hidden;
}
















.footer{
	background-color: #bfbfbf;
	width: 100vw;
	height: 150px;
}